<?xml version="1.0" encoding="utf-8"?>
<QueensEightWebJob
  serviceBusNamespace="sampleNamespace"
  serviceBusSasKey="c2FtcGxlS2V5U2V0dGluZw=="
  serviceBusQueueName="requestedSolutions"
  storageAccountName="sampleAccountName"
  storageAccessKey="c2FtcGxlS2V5U2V0dGluZw==""
  notificationApiUrl="http://localhost:49657/api/v1/solutions/valid"
/>
