@{
    ViewBag.Title = "Queens Eight";
}


<div class="header"></div>
<div class="container" ng-app="QueensEight">
    <div class="row">
        <div class="span2">
            <div class="board board-small"></div>
            <div class="board board-small"> </div>
            <div class="board board-small"> </div>
            <div class="board board-small"> </div>
            <div class="board board-small"> </div>
        </div>
        <div class="span10">
            <div class="board board-large" ng-controller="BoardSelectionController"></div>
        </div>

    </div>
</div>
