@{
  ViewBag.Title = "Queens Eight";
}

<div class="container" ng-controller="GameController">
  <div class="row">
    <div class="span3" ng-controller="SolutionsController">
      <div class="previous-solutions">
        <div class="section-header">Solutions Found: {{solutions.length}}</div>
        <div ng-repeat="solution in solutions" ng-controller="BoardController">
          <div class="chesstable">
            <div class="board"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="span9">
      <div class="active-solution">
        <div ng-show="solutionUnavailable" ng-click="clearErrors()" class="msg-nosolution"><div class="msg-close">&times;</div> No solution available for this queen pattern.</div>
        <div ng-controller="BoardController" ng-repeat="solution in activeSolutions">
          <div class="chesstable">
            <div class="board" interactive></div>
          </div>
          <div class="board-actions">
            <button class="btn btn-primary btn-large" ng-click="requestSolution()">Request Solution</button>
            <button class="btn btn-primary btn-large" ng-click="clearBoard()">Clear Board</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>