@{
    ViewBag.Title = "Queens Eight";
}


<div class="header"></div>
<div class="board board-large">
    <div>
        <div class="cell"></div>
        <div class="cell cell-alt"></div>
        <div class="cell"></div>
        <div class="cell cell-alt"></div>
        <div class="cell"></div>
        <div class="cell cell-alt"></div>
        <div class="cell"></div>
        <div class="cell cell-alt"></div>
    </div>
    <div>
        <div class="cell cell-alt"></div>
        <div class="cell"></div>
        <div class="cell cell-alt"></div>
        <div class="cell"></div>
        <div class="cell cell-alt"></div>
        <div class="cell"></div>
        <div class="cell cell-alt"></div>
        <div class="cell"></div>
    </div>
    <div>
        <div class="cell"></div>
        <div class="cell cell-alt"></div>
        <div class="cell"></div>
        <div class="cell cell-alt"></div>
        <div class="cell"></div>
        <div class="cell cell-alt"></div>
        <div class="cell"></div>
        <div class="cell cell-alt"></div>
    </div>
    <div>
        <div class="cell cell-alt"></div>
        <div class="cell"></div>
        <div class="cell cell-alt"></div>
        <div class="cell"></div>
        <div class="cell cell-alt"></div>
        <div class="cell"></div>
        <div class="cell cell-alt"></div>
        <div class="cell"></div>
    </div>
    <div>
        <div class="cell"></div>
        <div class="cell cell-alt"></div>
        <div class="cell"></div>
        <div class="cell cell-alt"></div>
        <div class="cell"></div>
        <div class="cell cell-alt"></div>
        <div class="cell"></div>
        <div class="cell cell-alt"></div>
    </div>
    <div>
        <div class="cell cell-alt"></div>
        <div class="cell"></div>
        <div class="cell cell-alt"></div>
        <div class="cell"></div>
        <div class="cell cell-alt"></div>
        <div class="cell"></div>
        <div class="cell cell-alt"></div>
        <div class="cell"></div>
    </div>
    <div>
        <div class="cell"></div>
        <div class="cell cell-alt"></div>
        <div class="cell"></div>
        <div class="cell cell-alt"></div>
        <div class="cell"></div>
        <div class="cell cell-alt"></div>
        <div class="cell"></div>
        <div class="cell cell-alt"></div>
    </div>
    <div>
        <div class="cell cell-alt"></div>
        <div class="cell"></div>
        <div class="cell cell-alt"></div>
        <div class="cell"></div>
        <div class="cell cell-alt"></div>
        <div class="cell"></div>
        <div class="cell cell-alt"></div>
        <div class="cell"></div>
    </div>           

</div>