<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title><%= pkg.title %> | by <%= pkg.author.company %></title>
  <link rel="stylesheet" type="text/css" href="<%= css %>" media="all">
  <link rel="shortcut,icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <meta name="description" content="<%= pkg.keywords %>">
</head>
<body ng-app="QueensEight">
  <div class="main_content">
    <div ng-controller="q8GameController as queensEight" class="container">
      <div class="header"><span role="img" aria-label="Queens Eight" class="background-image"><span class="inner"></span></span></div>
      <div class="row">
        <div class="col-board">
          <div class="active-solution">
            <div ng-show="queensEight.solutionUnavailable" ng-click="queensEight.clearErrors()" class="msg-nosolution">
              <div class="msg-close">&times;</div>No solution available for this queen pattern.
            </div>
            <!-- <div ng-controller="BoardController" ng-repeat="solution in activeSolutions"> -->
            <div ng-controller="q8BoardController as board">
              <div class="chess-table">
                <div interactive class="board" thing="board"></div>
              </div>
              <div class="board-actions">
                <button ng-click="board.requestSolution()" class="btn">Request Solution</button>
                <button ng-click="board.clearBoard()" class="btn">Clear Board</button>
              </div>
            </div>
          </div>
        </div>

        <div class="col-solutions">
          <div class="previous-solutions">
            <div class="section-header">Requested Solutions: {{queensEight.pendingSolutions.length}}
              <div class="row">
                <div ng-repeat="solution in queensEight.pendingSolutions">
                <div ng-controller="q8BoardController as board" ng-init="board.solution = solution" class="previous-solution">
                  <div class="chess-table">
                    <div class="board"></div>
                  </div>
                </div>
                </div>
              </div>
            </div>
          </div>

          <div class="previous-solutions">
            <div class="section-header">Solutions Found: {{queensEight.validSolutions.length}}
              <div class="row">
                <div ng-repeat="solution in queensEight.validSolutions">
                <div ng-controller="q8BoardController as board" ng-init="board.solution = solution" class="previous-solution">
                  <div class="chess-table">
                    <div class="board"></div>
                  </div>
                </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-push"></div>
  </div>
  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-footer"><a href="http://www.aranasoft.com" title="Arana Software web site" class="logo"></a></div>
        <div class="col-footer">
          <p class="more-info"><a href="http://www.github.com/aranasoft/queenseight"><i class="fa fa-lg fa-github-square"></i> Queens Eight on GitHub</a> | <span class="social"><a href="http://www.twitter.com/aranasoft" title="Arana Software on Twitter"><i class="fa fa-lg fa-twitter-square"></i></a><a href="http://www.facebook.com/aranasoft" title="Arana Software on Facebook"><i class="fa fa-lg fa-facebook-square"></i></a><a href="http://www.github.com/aranasoft" title="Arana Software on Github"><i class="fa fa-lg fa-github-square"></i></a></span></p>
          <div class="legal">Built by <a href="http://www.twitter.com/dburton">@dburton</a> and <a href="http://www.twitter.com/jayharris">@jayharris</a>. Queens Eight logo by <a href="http://projeqt.com/jlucas">John Lucas</a>.</div>
          <div class="legal">Copyright &copy; 2013-2014 <%= pkg.author.company %>. All rights reserved.</div>
        </div>
      </div>
    </div>
  </div>
  <script src="<%= jsVendor %>" type="text/javascript"></script>
  <script src="signalr/hubs" type="text/javascript"></script>
  <script src="<%= js %>" type="text/javascript"></script>
</body>
