@import "less/variables.less";
@import "variables.less";
@import "less/mixins.less";
@import "mixins.less";

// CSS Reset
@import "less/reset.less";

// Grid system and page structure
@import "less/scaffolding.less";
@import "less/grid.less";
@import "less/layouts.less";

// Base CSS
@import "less/type.less";
@import "less/code.less";
@import "less/forms.less";
@import "less/tables.less";

// Components: common
// @import "less/sprites.less";
@import "font-awesome/font-awesome.less";
@import "less/dropdowns.less";
@import "less/wells.less";
@import "less/component-animations.less";
@import "less/close.less";

// Components: Buttons & Alerts
@import "less/buttons.less";
@import "less/button-groups.less";
@import "less/alerts.less"; // Note: alerts share common CSS with buttons and thus have styles in buttons.less

// Components: Nav
@import "less/navs.less";
@import "less/navbar.less";
@import "less/breadcrumbs.less";
@import "less/pagination.less";
@import "less/pager.less";

// Components: Popovers
@import "less/modals.less";
@import "less/tooltip.less";
@import "less/popovers.less";

// Components: Misc
@import "less/thumbnails.less";
@import "less/media.less";
@import "less/labels-badges.less";
@import "less/progress-bars.less";
@import "less/accordion.less";
@import "less/carousel.less";
@import "less/hero-unit.less";

// Utility classes
@import "less/utilities.less"; // Has to be last to override when necessary

@font-face {
  .font-face('Libra BT Regular', 'libra_bt');
}

.btn {
  font-weight: bold;
  font-family: @altFontFamily;
  text-transform: lowercase;
}

.btn-primary {
  .buttonBackground(@btnPrimaryBackground, @btnPrimaryBackgroundHighlight, @btnPrimaryBorder, 0 1px 1px rgba(255,255,255,.75));
  border: 1px solid @btnPrimaryBorder;
  *border: 0; // Remove the border to prevent IE7's black border on input:focus
  border-bottom-color: darken(@btnPrimaryBorder, 10%);
}

.btn-large {
  font-size: @baseFontSize * 1.5;
  line-height: @baseLineHeight * 1.5;
}

.legal { font-size: 70%; line-height: 140%; a { color: @white; }}

html, body {
  height: 100%;
}

.main_content {
  min-height: 100%;
  height: auto;
  margin-bottom: -80px;
}

body {
  background: url(images/leather@1x.jpg) repeat top right;
}

.header {
  background: url(images/banner.png) no-repeat;
  height: 200px;
  width: 1024px;
  margin: 20px auto;
}

.board {
  //background: url(images/wood.png);
}

.chesstable {
  background: url(images/wood.png) repeat top left;
  margin: 30px auto 0;
  .box-shadow(0 2px 1px rgba(0,0,0,.25));
}

.chesstable-large {
  .chess-table(@cellSizeLarge, 2px);
  padding: 20px;

  .board {
    .cell {
      img {
        .square(65px);
        margin: 5px;
      }

      i {
        .hide;
      }
    }
  }
}

.chesstable-small {
  .chess-table(@cellSizeSmall, 2px);
  padding: 6px;

  .board {
    .cell {
      i {
        .show;
        color: #330000;
      }

      img {
        .hide;
      }
    }
  }
}

.board-actions {
  margin-top: 20px;
  margin-bottom: 20px;
  .text-center;
}

.cell-row {
  .clearfix();
}

.cell {
  float: left;
}

.cell-dark {
  background-color: rgba(77,38,22,.6);
}

.footer-push {
  .clearfix;
  height: 160px;
}

.footer {
  .clearfix();
  height: 60px;
  background-color: @brownBlack;
  color: @white;
  border-top: 2px solid @brownLight;
  padding: 20px 0;
  width: 100%;
  vertical-align: middle;

  a { color: @white; }

  .logo {
    width: 150px;
    height: auto;
  }
}
